.custom-navbar {
    background: #0b5ed7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.brand {
    color: rgb(255, 255, 255) !important;
}

.hospital-icon {
    color: #e06060;
}

.nav-link-custom {
    color: rgb(255, 255, 255) !important;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

.nav-link-custom::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffffff;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.nav-link-custom:hover {
    color: #d6d7da !important;
}

.nav-link-custom:hover::after {
    width: 100%;
}

.login-btn {
    border-color: #d6d7da;
    color: #000000;
    font-weight: 600;
    background: white;
}

.login-btn:hover {
    background: #000000;
    color: rgb(255, 255, 255);
}

.signup-btn {
    background: #ff3b3b;
    border: none;
    color: white;
    font-weight: 600;
}

.signup-btn:hover {
    background: #8d3131;
}